* {
    font-family: 'Overpass', sans-serif;
}

.full-width{
    width: 100%;
}

.full-height{
    height: 100%;
}

.top-buffer-20{
    margin-top: 20px;
}

.right-buffer-20{
    margin-right: 20px;
}

.game-btn, .game-btn-side{
    margin: 4px 0;
}

#game-info-table{
    flex-grow: 2;
}


@media screen and (orientation: portrait) {
    #side-menu{
        display: none;
    }
}

#chat-messages{
    display: none;
}

#game-page-full{
    display: none;
}

#games-schedule{

}



.chat-profile-pic{
    width: 100%;
}


#username{
    color: white;
    vertical-align: middle;
    display: table-cell;
}

.message-box{
    margin: 4px 0;
}

#nav-messages-button{
}
