* {
    font-family: 'Overpass', sans-serif;
}

.full-width{
    width: 100%;
}

.full-height{
    height: 100%;
}

.top-buffer-20{
    margin-top: 20px;
}

.right-buffer-20{
    margin-right: 20px;
}

.game-btn, .game-btn-side{
    margin: 4px 0;
}

#game-info-table{
    flex-grow: 2;
}


@media screen and (orientation: portrait) {
    #side-menu{
        display: none;
    }
}

#chat-messages{
    display: none;
}

#game-page-full{
    display: none;
}

.chat-profile-pic{
    width: 100%;
}


#username{
    color: white;
    vertical-align: middle;
    display: table-cell;
}

.message-box{
    margin: 4px 0;
}

#navbar{
    display: none;
}

#error-text{
    display: none;
}

#messages-section{
    display: none;
}

#game-section{
    display: none;
}

#schedule-section{
    display: none;
}

#sign-in-button{
    display: none;
}

#sign-out-button{
    display: none;
}

#message-input-bar{
    background-color: white;
    padding: 4px 0;
}

#message-input{
    width: 100%;
    margin: 4px;
}